  body {
      background-color: #493D9E;
  }
  hr {
      border-style: none;
      border-top-style: dotted;
      border-color: white;
      border-width: 10px;
      width: 15%;
  }
h1,h2,h3 {
    color: #B2A5FF;
  }
