  body {
      background-color: #493D9E;
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  }
  hr {
      border-style: none;
      border-top-style: dotted;
      border-color: white;
      border-width: 10px;
      width: 15%;
  }
h1,h2,h3 {
    color: #B2A5FF;
  }
